---
layout: default
---

<div class="home">

<h1>autohaem</h1>

<p>autohaem design and build open source devices for automated blood smear preparation.</p>

<p>We focus on being open and accessible, all of our designs are available to download, with assembly instructions.</p>

<p>We currently have two devices:</p>

<ul>
    <li> <a href = "/smear/">autohaem smear:</a> A mechanical device for producing semi-automated blood smears. </li>
    <li> <a href = "/smear+/">autohaem smear+:</a> An electro-mechnical device for producing fully automated blood smears. </li>
</ul>


<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/XioRjS-8Hlk' frameborder='0' allowfullscreen></iframe></div>

</div>
