---
layout: page
title: autohaem smear+
permalink: /smear+/
---

<div class="home">

<p> autohaem smear+ is a electro-mechanical device for producing automated blood smears. </p>

<h2> v2.1.0 </h2>

<img src = "/assets/autohaem_smear_plus_v2.1.0.jpg" alt = "A photo of autohaem smear+ v2.1.0">

<a href="https://autohaem.gitlab.io/autohaem-smear-plus/v2.1.0/">Assembly instructions</a>

<h2> v2.0.0 </h2>

<model-viewer src="/assets/autohaem_smear_plus_v2.glb" alt="A 3D model of autohaem smear+" auto-rotate camera-controls></model-viewer>

<a href="https://autohaem.gitlab.io/autohaem-smear-plus/v2.0.0/">Assembly instructions</a>

<h2> v1.0.0 </h2>

<model-viewer src="/assets/autohaem_smear_plus.glb" alt="A 3D model of autohaem smear+" auto-rotate camera-controls></model-viewer>

<a href="https://autohaem.gitlab.io/autohaem-smear-plus/v1.0.0/">Assembly instructions</a>



</div>
