---
layout: page
title: autohaem smear
permalink: /smear/
---

<div class="home">

<p> autohaem smear is a simple mechanical device for producing semi-automated blood smears. </p>

<h2> v2.0.0 </h2>

<model-viewer src="/assets/autohaem_smear_v2.glb" alt="A 3D model of autohaem smear" auto-rotate camera-controls></model-viewer>

<a href="https://autohaem.gitlab.io/autohaem-smear/v2.0.0">Assembly instructions</a>

<h2> v1.0.0 </h2>

<model-viewer src="/assets/autohaem_smear.glb" alt="A 3D model of autohaem smear" auto-rotate camera-controls></model-viewer>

<a href="https://autohaem.gitlab.io/autohaem-smear/v1.0.0">Assembly instructions</a>



</div>

