<a href="https://twitter.com/{{ include.username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username" style="font-family: 'Orbitron', san-serif;">{{ include.username }}</span></a>
